{% include "header.html" %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/orgs.css') }}"/>
        <div class="content-area">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div>
        </div>
        <ul class="orgs-ul">
            {% for org in organizations %}
                <li class="orgs-list"><a class="org-links" href="orgdetails?code={{ org["code"] }}">{{org["name"]}}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% include "footer.html" %}
    